# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
import pandas as pd
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo.uk_food

In [4]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [5]:
# assign the collection to a variable
establishments = db.establishments

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}
results = list(establishments.find(query))

# Use count_documents to display the number of documents in the result
print(str(establishments.count_documents(query)) + ' documents\n')

# Display the first document in the results using pprint
pprint(results[0])

41 documents

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6411e4ba24ee24ee4d4b57d3'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [7]:
# Convert the result to a Pandas DataFrame
hygiene20_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(str(len(hygiene20_df)) + ' rows')
# Display the first 10 rows of the DataFrame
hygiene20_df.head(10)

41 rows

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6411e4ba24ee24ee4d4b57d3,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6411e4ba24ee24ee4d4b5b54,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6411e4ba24ee24ee4d4b5e5f,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6411e4ba24ee24ee4d4b604c,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6411e4ba24ee24ee4d4b605b,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,6411e4ba24ee24ee4d4b69f4,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,6411e4ba24ee24ee4d4b6c1a,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,6411e4ba24ee24ee4d4b8146,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,6411e4ba24ee24ee4d4b8587,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,6411e4ba24ee24ee4d4b8d9c,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName':{'$regex':'London'},
        'RatingValue':{'$gte':'4'}}
results = list(establishments.find(query))
# Use count_documents to display the number of documents in the result
print(str(establishments.count_documents(query)) + ' documents\n')
# Display the first document in the results using pprint
pprint(results[0])

34 documents

{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': '4',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6411e4ba24ee24ee4d4b71f5'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [9]:
# Convert the result to a Pandas DataFrame
london_rating_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(str(len(london_rating_df)) + ' rows')
# Display the first 10 rows of the DataFrame
london_rating_df.head(10)

34 rows

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6411e4ba24ee24ee4d4b71f5,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6411e4ba24ee24ee4d4b7513,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6411e4ba24ee24ee4d4b8068,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6411e4ba24ee24ee4d4b8e5f,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6411e4ba24ee24ee4d4b8e60,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,6411e4ba24ee24ee4d4b9566,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,6411e4bb24ee24ee4d4bb673,1252616,0,PI/000035653,Froottree,Other catering premises,7841,Tereza Joanne King George V Lock,Woolwich Manor Way London,Charlton,...,0.069325,51.501110,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,6411e4bb24ee24ee4d4bb678,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,6411e4bb24ee24ee4d4bba3e,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,6411e4bb24ee24ee4d4bba57,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [10]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.152225
longitude = 1.387974

query = {
    'RatingValue':'5',    
    '$and':[{'geocode.latitude':{'$gte':latitude-degree_search}},
            {'geocode.latitude':{'$lte':latitude+degree_search}}],
    '$and':[{'geocode.longitude':{'$gte':longitude-degree_search}},
            {'geocode.longitude':{'$lte':longitude+degree_search}}]
}
sort = [('scores.Hygiene',1)]
limit = 5

results = list(establishments.find(query).sort(sort).limit(limit))

# Print the results
pprint(results)

[{'AddressLine1': '41 Rydal Avenue',
  'AddressLine2': 'Ramsgate',
  'AddressLine3': 'Kent',
  'AddressLine4': '',
  'BusinessName': 'Rydal Mini Mart',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4594.060742510793,
  'FHRSID': 521015,
  'LocalAuthorityBusinessID': 'PI/000099381',
  'LocalAuthorityCode': '190',
  'LocalAuthorityEmailAddress': 'environmental.health@thanet.gov.uk',
  'LocalAuthorityName': 'Thanet',
  'LocalAuthorityWebSite': 'http://www.thanet.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CT11 0PX',
  'RatingDate': '2021-03-16T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6411e4ba24ee24ee4d4b40d2'),
  'geocode': {'latitude': 51.335425, 'longitude': 1.393792},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/521015',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Royal Oak Filling Station',
  'AddressLine2': 'Canterbury Road East',
  'AddressLine3': 'Ramsgate',
  'AddressLine4': 'Kent',
  'BusinessName': 'Shell Royal Oak',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4594.295167598031,
  'FHRSID': 658453,
  'LocalAuthorityBusinessID': 'PI/000006397',
  'LocalAuthorityCode': '190',
  'LocalAuthorityEmailAddress': 'environmental.health@thanet.gov.uk',
  'LocalAuthorityName': 'Thanet',
  'LocalAuthorityWebSite': 'http://www.thanet.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CT11 0LB',
  'RatingDate': '2021-10-11T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6411e4ba24ee24ee4d4b4134'),
  'geocode': {'latitude': 51.335188, 'longitude': 1.387054},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/658453',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Chilton Primary School',
  'AddressLine2': 'Chilton Lane',
  'AddressLine3': 'Ramsgate',
  'AddressLine4': 'Kent',
  'BusinessName': 'The Learning Tree',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'ChangesByServerID': 0,
  'Distance': 4593.951255573855,
  'FHRSID': 1126610,
  'LocalAuthorityBusinessID': 'PI/000102868',
  'LocalAuthorityCode': '190',
  'LocalAuthorityEmailAddress': 'environmental.health@thanet.gov.uk',
  'LocalAuthorityName': 'Thanet',
  'LocalAuthorityWebSite': 'http://www.thanet.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CT11 0LQ',
  'RatingDate': '2021-04-29T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6411e4ba24ee24ee4d4b40b7'),
  'geocode': {'latitude': 51.3317947387695, 'longitude': 1.39302098751068},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1126610',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Pegwell Road',
  'AddressLine2': 'Ramsgate',
  'AddressLine3': 'Kent',
  'AddressLine4': '',
  'BusinessName': 'The Sir Stanley Gray',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4593.817703243062,
  'FHRSID': 575971,
  'LocalAuthorityBusinessID': 'PI/000097696',
  'LocalAuthorityCode': '190',
  'LocalAuthorityEmailAddress': 'environmental.health@thanet.gov.uk',
  'LocalAuthorityName': 'Thanet',
  'LocalAuthorityWebSite': 'http://www.thanet.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CT11 0NJ',
  'RatingDate': '2022-05-03T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6411e4ba24ee24ee4d4b407c'),
  'geocode': {'latitude': 51.327274, 'longitude': 1.391984},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/575971',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Chilton Lane',
  'AddressLine2': 'Ramsgate',
  'AddressLine3': 'Kent',
  'AddressLine4': '',
  'BusinessName': 'Chilton County Primary School',
  'BusinessType': 'School/college/university',
  'BusinessTypeID': 7845,
  'ChangesByServerID': 0,
  'Distance': 4593.951265005131,
  'FHRSID': 624983,
  'LocalAuthorityBusinessID': 'PI/000018261',
  'LocalAuthorityCode': '190',
  'LocalAuthorityEmailAddress': 'environmental.health@thanet.gov.uk',
  'LocalAuthorityName': 'Thanet',
  'LocalAuthorityWebSite': 'http://www.thanet.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CT11 0LQ',
  'RatingDate': '2021-09-07T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6411e4ba24ee24ee4d4b40b9'),
  'geocode': {'latitude': 51.331795, 'longitude': 1.393021},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/624983',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}]

In [11]:
# Convert result to Pandas DataFrame
close_5s_df = pd.json_normalize(results)
close_5s_df

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6411e4ba24ee24ee4d4b40d2,521015,0,PI/000099381,Rydal Mini Mart,Retailers - other,4613,41 Rydal Avenue,Ramsgate,Kent,...,1.393792,51.335425,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6411e4ba24ee24ee4d4b4134,658453,0,PI/000006397,Shell Royal Oak,Retailers - other,4613,Royal Oak Filling Station,Canterbury Road East,Ramsgate,...,1.387054,51.335188,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6411e4ba24ee24ee4d4b40b7,1126610,0,PI/000102868,The Learning Tree,Caring Premises,5,Chilton Primary School,Chilton Lane,Ramsgate,...,1.393021,51.331795,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6411e4ba24ee24ee4d4b407c,575971,0,PI/000097696,The Sir Stanley Gray,Pub/bar/nightclub,7843,Pegwell Road,Ramsgate,Kent,...,1.391984,51.327274,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6411e4ba24ee24ee4d4b40b9,624983,0,PI/000018261,Chilton County Primary School,School/college/university,7845,Chilton Lane,Ramsgate,Kent,...,1.393021,51.331795,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [12]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene':0}}
group_query = {'$group': {'_id':'$LocalAuthorityName', 'hygiene_0_count':{'$sum':1}}}
sort_values = {'$sort': {'hygiene_0_count':-1}}

pipeline = [match_query, group_query, sort_values]

results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(str(len(results)) + ' results\n')

# Print the first 10 results
pprint(results[:10])

55 results

[{'_id': 'Thanet', 'hygiene_0_count': 1130},
 {'_id': 'Greenwich', 'hygiene_0_count': 882},
 {'_id': 'Maidstone', 'hygiene_0_count': 713},
 {'_id': 'Newham', 'hygiene_0_count': 711},
 {'_id': 'Swale', 'hygiene_0_count': 686},
 {'_id': 'Chelmsford', 'hygiene_0_count': 680},
 {'_id': 'Medway', 'hygiene_0_count': 672},
 {'_id': 'Bexley', 'hygiene_0_count': 607},
 {'_id': 'Southend-On-Sea', 'hygiene_0_count': 586},
 {'_id': 'Tendring', 'hygiene_0_count': 542}]

In [13]:
# Convert the result to a Pandas DataFrame
hygiene_0_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(str(len(hygiene_0_df)) + ' rows')
# Display the first 10 rows of the DataFrame
hygiene_0_df.head(10)

55 rows

               _id  hygiene_0_count
0           Thanet             1130
1        Greenwich              882
2        Maidstone              713
3           Newham              711
4            Swale              686
5       Chelmsford              680
6           Medway              672
7           Bexley              607
8  Southend-On-Sea              586
9         Tendring              542